<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--initial-scale缩放比例-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">车位共享</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>发布</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>认证</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>个人信息</a>
            <div class="right m-item item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1006" alt="" class="ui avatar image">
                        孔庆康
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{about}" href="#" class="active teal item">修改个人信息</a>
            <a th:href="@{editPassword}" href="#" class="item">修改密码</a>
        </div>
    </div>
</div>
<!--中间-->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <form class="ui form" name="userForm">
            <div class="ui stackable grid">
                <div class="three wide column">
                    <img class="ui small circular image" src="images/1.JPEG" id="show-id-card-img-1" name="show-id-card-img-1" >
                    <input type="file" name="file" id="id-card-file" style="display: none" accept="image/png, image/jpeg, image/jpg" multiple="multiple" onchange="checkImage(this)">
                    <button style="margin-left: 21px;margin-top: 10px" type="button" class="ui teal button" id="btn-id-card" name="btn-id-card-1" onclick="getIdCardImage()">更换头像</button>
                </div>
                <div class="thirteen wide column">
                    <div class="ui top attached segment">
                        <div class="two fields">
                            <div class="required field">
                                <div class="ui left labeled input">
                                    <label for="mobile" class="ui compact teal basic label">联系方式</label>
                                    <input type="text" id="mobile" name="mobile" placeholder="请输入联系方式……">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div class="two fields">
                            <div class="required field">
                                <div class="ui left labeled input">
                                    <label for="address" class="ui compact teal basic label">住址</label>
                                    <input type="text" id="address" name="address" placeholder="请输入住址……">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div class="two fields">
                            <div class="required field">
                                <div class="ui left labeled input">
                                    <label for="tencent" class="ui compact teal basic label">QQ/wechat</label>
                                    <input type="text" id="tencent" name="tencent" placeholder="请输入社交账号……">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom center aligned attached segment">
                        <div class="two fields">
                            <div class="required field">
                                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                                <button class="ui secondary button">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid"><!--stackable代表可堆叠-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="wechat.jpg" class="ui rounded image" alt="" style="width: 7em">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-lined m-text-sapced">最新发布</h4>
                <div class="ui inverted link list m-text-thin m-opacity-mini m-text-lined m-text-sapced">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header header m-text-thin m-text-lined m-text-sapced">联系我</h4>
                <div class="ui inverted link list m-text-thin m-opacity-mini m-text-lined m-text-sapced">
                    <a href="#" class="item">Email:1170830826@qq.com</a>
                    <a href="#" class="item">QQ:1170830826</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header header m-text-thin m-text-lined m-text-sapced">车位平台</h4>
                <p class="m-text-thin m-opacity-mini m-text-lined m-text-sapced">致力于打造一个非常好的社区车位共享平台，为大家带来优质的服务！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p>Copyright © 2019-2020 kongqingkang Designed by kongqingkang</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="js/myInfo.js"></script>
<script>

    //页面初始化时的数据
    $(document).ready(function(){
        $.ajax({
            type: 'post',
            url: 'getAboutInfo',
            success:function(res){
                data = res.data;
                $('#mobile').val(data.mobile);
                $('#address').val(data.address);
                $('#tencent').val(data.tencent);
                $('#show-id-card-img-1').attr("src", data.avatarUrl);
            }
        });
        init();
    });

    function getIdCardImage(){
        $("#id-card-file").click();
        showImage("id-card-file","show-id-card-img-1");
    }
    function showImage(file_addr,show_addr){
        var inputJ = $('#'+ file_addr);
        inputJ.change(function(e){
            var file     = e.target.files[0],//拿到原始对象
                thisType = file.type,//获取到表面的名称，可判断文件类型
                thisSize = file.size,//文件的大小
                reader   = new FileReader();

            //readAsDataURL(file),读取文件，将文件以数据URL的形式保存在result的属性中
            reader.readAsDataURL(file);

            //文件加载成功以后，渲染到页面
            reader.onload = function(e) {
                $('#'+ show_addr).attr("src", e.target.result);
            }
        });
    }

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.ui.radio.checkbox')
        .checkbox()
    ;
    $('.ui.form').form({
        fields: {
            mobile: {
                identifier: 'mobile',
                rules: [{
                    type: 'regExp[/^1(3|4|5|6|7|8|9)\\d{9}$/]',
                    prompt: '请输入正确的手机号!'
                }]
            },
            address: {
                identifier: 'address',
                rules: [{
                    type: 'empty',
                    prompt: '请输入地址!'
                }]
            },
            tencent: {
                identifier: 'tencent',
                rules: [{
                    type: 'empty',
                    prompt: '请输入社交账号!'
                }]
            }
        },
        onSuccess: function(e) {
            //阻止表单的提交
            e.preventDefault();
            //创建传输对象
            var formData = new FormData();
            /**
             * 特别注意：fileAndFilesAndObject,file是指form和input中name的值
             * files是指一个数组
             * */
            formData.append('userAvatarFiles',$('#id-card-file').get(0).files[0]);
            var mobile=$('#mobile').val();
            var address= $('#address').val();
            var tencent= $('#tencent').val();
            formData.append("mobile",mobile);
            formData.append("address",address);
            formData.append("tencent",tencent);
            var myToken = sessionStorage.getItem("Authorization")//获取token
            $.ajax({
                type: "POST",
                serializeForm: true,
                url: "editPersonalInfo",
                processData: false,//必不可缺
                contentType: false,//必不可缺
                cache : false,
                data:formData,
                //contentType:"multipart/form-data",
                dataType: "json",
                headers:{
                    "Authorization":myToken
                },
                success: function (res) {
                    if (res.code==0){
                        alert("提交成功！")
                    } else{
                        alert(res.msg);
                        alert("---提交失败！---");
                    }
                },
                error:function (res) {
                    console.log(res.msg);
                    alert("---不管怎么样，失败了---");
                }
            });
        }
    });

</script>
</body>
</html>